@font-face {
  font-family: myFirstFont;
  src: url(American Captain.otf);
}

.image {
  width: 200px;
  vertical-align: middle;
  margin-bottom: 0.75em;
-moz-border-radius:7px;
-webkit-border-radius:7px;
border-radius:100px;
  border: 2px solid white;
}

#elementList{
  background: black url("wallpaper5.jpg");
  background-size: 610px;
  color: white;
  border: 2px solid white;
  float:left;
  width: 610px;
  height: 350px;
}

img{
  margin-top: 30px;
}

form{
  margin: 35px;
  margin-left:50px;
  color: white;
}

button{
  width: 150px;
  margin: 35px;
  float: right;
  margin-right: 200px;
}

h1{
  font-size: 30px;
  text-align: center;
  font-family: myFirstFont;
}
body {
  background: #080D30 url("wallpaper2.jpg") no-repeat fixed center;
   }
.datatest {
  background-color: whitesmoke;
  border: 1px solid #333;
  border-radius: 10px;
  height: 250px;
  margin: 20px;
  padding: 10px;
  display: flex;
}

.image-container{
  margin: 10px;
  float: left;
}

.data-container{
  margin: 10px;
  float: left;

}